
.card-login{
    max-width: 100%;
    width: 350px;
    min-height: 400px;
}

.container-link-login{
    max-width: 100%;
    width: 75px;
}

.content-login{
    display: block;
    font-size: 13px;
}