.header{
    display:flex;
    padding: 10px;

    p{
        font-size: 20px;
        font-weight: 500;
        
        @media screen and (max-width:700px) {
            font-size: 15px;
        }
    }
}


.container-dashboard{
    margin-top: 30px;
    display: block;
    max-width: 80%;
    
    @media screen and (max-width:700px) {
        max-width: 100%;
        flex-direction: column;
    }
}

.create-request{
    font-size: 17px;
    display: block;
    padding: 8px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: rgba(43, 243, 93, 0.445);
    text-decoration: none;
    box-shadow: 4px 2px 9px rgba(0, 0, 0, 0.205);
    
    &:focus {outline:0;}
    
    &:hover{
        transition: 0.5s;
        background: rgba(43, 243, 93, 0.596);
    }
    
    @media screen and (max-width:700px) {
        font-size: 13px;
    }
}

.card-dashboard{
    margin-top: 30px;
    display: inline-block !important;
    margin-left: 30px !important;
    padding: 10px;
    display: block;
    max-width: 100%;
    width: 30%;
    border-radius: 15px !important;
    box-shadow: 4px 6px 14px rgba(0, 0, 0, 0.205);
    background-color: rgb(245, 245, 245);
    
    @media screen and (max-width:700px) {
        margin-top: 30px;
        margin-left: 50px !important;
        max-width: 100%;
        width: 75%;
    }
}

.container_side_menu{
    min-height: 100%;
    text-align: right;

    width: 0;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    background-color: #f7f7f7;
    box-shadow: 4px 0px 8px rgba(49, 49, 49, 0.25);
    box-sizing: border-box;

    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition:0.5s;
}

.bg-sidebar{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.342);
    height: 100vh;
    max-width: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    z-index: 2;
}

.toolbar{
    display: block;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 14%;
    height: 100vh;
    border-radius: 00px 30px 0px 0px;


    @media screen and (max-width:700px) {
        width: 60%;
    }

}

.toolbar-navigation{
    display: block;
}

.toolbar-logo{
    display: block;
    margin-top: 23px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.toolbar-navigation-itens{
    
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li{
        display: block;
        padding: 10px;
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        border-bottom: 1px solid rgb(221, 221, 221);
        transition: 0.3s;

        &:hover{
            background-color: rgb(240, 240, 240);
            cursor: pointer;
            margin-left: 0px;
            margin-right: 0px;
        }
    }
    
    a{
        color: black;
        text-decoration: none;
        
        &:hover{
            text-decoration: none;
            color: black;
        }
    }


}


.sidebar-menu{
    max-width: 100%;
    position: absolute;
    height: 100%;
    background-color: white;
}

.close{
    margin-right: 15px;
}