.card-style-1{
    display: block !important;
    border-radius: 10px !important;
    box-shadow: 7px 6px 15px rgba(110, 110, 110, 0.424) !important;
}
.card-style-2{
    display: block !important;
    border-radius: 10px !important;
    box-shadow: 7px 6px 15px rgba(110, 110, 110, 0.424) !important;

    &:hover{
        cursor: pointer;
        transition: 0.3s;
        transform: scale(1.03);
    }
}
.btn-sidebar{
    max-width: 100%;
    width: 100%;
    text-align: start !important;

    span{
        margin-right: auto !important;
    }
}

.description-area{
    display: block;
    max-width: 60% !important;
}

.tutorial-card{
    display: block;
    max-width: 100%;
    width: 70%;
    
    @media screen and (max-width: 700px){
        max-width: 100%;
        width: 100%;
    }
}

.container-requests{
    max-width: 25%;
    width: 100%;

    svg{
        font-size: 30px;
    }
}