
.mw-w-100{
    max-width: 100%;
    width: 100%;
}

.mw-w-50{
    max-width: 100%;
    width: 40%;
}
.mw-w-40{
    max-width: 100%;
    width: 40%;

    @media screen and (max-width: 700px){
        width: 100%;
    }
}
.mw-w-30{
    max-width: 100%;
    width: 30%;

    @media screen and (max-width: 700px){
        width: 100%;
    }
}
.mw-w-25{
    max-width: 100%;
    width: 25%;

    @media screen and (max-width: 700px){
        width: 100%;
    }
}
.mw-w-20{
    max-width: 100%;
    width: 20%;

    @media screen and (max-width: 700px){
        width: 100%;
    }
}

.mw-50{
    max-width: 50%;
}

.card-style-1{
    display: block !important;
    border-radius: 10px !important;
    box-shadow: 7px 6px 15px rgba(110, 110, 110, 0.424) !important;
}
.card-style-2{
    .card-body{
        padding: 0;
    }
    // background: linear-gradient(45deg, #fd5858, #ff693c);
    display: block !important;
    border-radius: 10px !important;
    box-shadow: 7px 6px 15px rgba(110, 110, 110, 0.424) !important;
    // color: rgb(240, 240, 240);
    
    &:hover{
        cursor: pointer;
        transition: 0.3s;
        transform: scale(1.03);
    }
}
.border-g{
    border: 2px solid #4df4c3 !important;
    
}

.border-o{
    border: 2px solid #ff693c !important;

}

.status{
    max-width: 50%;
    display: block;
    margin-left: auto;
    color: white;
    width: 100%;
    border-radius: 10px 0px 6px 0px;
    height: 34px;
    padding: 7px;
    // background: linear-gradient(45deg, #fd5858, #ff693c);
}

.status-new{
    background: linear-gradient(90deg, rgba(62,228,255,1) 0%, rgba(88,255,152,1) 100%);
}

.status-interest{
    background: linear-gradient(45deg, #fd5858, #ff693c);
}
.btn-sidebar{
    max-width: 100%;
    width: 100%;
    text-align: start !important;

    span{
        margin-right: auto !important;
    }
}

.description-area{
    display: block;
    max-width: 60% !important;
}

.tutorial-card{
    display: block;
    max-width: 100%;
    width: 70%;
    
    @media screen and (max-width: 700px){
        max-width: 100%;
        width: 100%;
    }
}

.container-requests{
    max-width: 25%;
    width: 100%;

    svg{
        font-size: 30px;
    }
}

.create-request-modal{
    display: block;

    .container-form-request{
        display: block;
        padding: 25px;
    }

    
    .vm--modal{
        min-height: 400px !important;
        height: 600px !important;
        top: 60px !important;
    }
}

.global-textarea{
    max-width: 100%;
    width: 70%;
    border-radius: 15px;
    background-color: #f4f7f8;
    border: none;

    font-size: 15px;
    padding: 10px;
}

.icon-sidebar-style{
    font-size: 23px !important;
    max-width: 10%;
    width: 100%;
}

.card-type-1{
    display: block;
    padding: 20px;
    max-width: 100%;
    width: 30%;
    border-radius: 15px;
    background-color: #f3f3f3;
}

.image-profile{
    max-width: 100%;
    width: 100%;
}

.login-input{
    max-width: 100%;
    width: 40%;
    box-sizing: border-box;
    
    @media screen and (max-width: 700px){
        width: 70%;
    }
}